
/* body */
.App{
  background-color: #EAEAEA;
  min-height: 100vh;
}

/* navbar */
.navar{
  background-color: #74B3CE;
}

/* searchbar */


.searchButton{
  background-color: #74B3CE ;
}

.visuallyHidden{
  margin-right: 1em;
}


/* all book conatiners */
.entireContainer{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 50px;
  align-items: stretch;
  margin-top: 2em;
}
.bookContainer{
  display:flex;
  flex-direction: row-reverse;
  text-align: center;  
  gap: 20px;
 
}

.bookContainer img{
  width: 130px;
}
.wordContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.wordContainer p{
  text-align: center;
  
}

/* siingle book containers */

.singlebContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 2em;
}

.singlebContainer img{
  width: 18em;
}
.linebr{
  white-space: pre-wrap;
}

.synopsis, .review{
  padding: 0 2em 0 2em;
}

.bookInfoCont{
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap;
  justify-content: space-around; */
  padding: 0 2em 0 2em;
  /* text-align: center; */
  gap: .5em;
}

@media only screen and (min-width: 768px){
  /* .navbar-toggler{
    display: none!important
  }
  .navbar-collapse{
    display:flex!important
  }
  /* .collapse:not{
    display: block!important;
  } */
  /* .me-auto, .navbar-nav, .navbar-expand-sm{
    display: flex;
    flex-direction: row!important;
    margin: 0!important;
    margin-right: 0px!important;
    justify-content: flex-end!important
  } */ 
}

@media only screen and (min-width: 1024px){
  
}

@media only screen and (min-width: 1440px){
  
}