
/* body */
.App{
  background-color: #EAEAEA;
}


.linebr{
  white-space: pre-wrap;
}

.container{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.bookContainer{
  display:flex;
  flex-direction: column;
  
}

/* navbar */
.navar{
  background-color: #74B3CE;
}