
/* body */
.App{
  background-color: #EAEAEA;
}

/* navbar */
.navar{
  background-color: #74B3CE;
}

/* searchbar */
.searcher{
  padding-top: 2em;
  padding-bottom: 2em;
  text-align: center;
}

.searchButton{
  background-color: #74B3CE ;
}

.visuallyHidden{
  margin-right: 1em;
}


/* all book conatiners */
.container{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 50px;
  align-items: stretch;
}
.bookContainer{
  display:flex;
  flex-direction: row-reverse;
  text-align: center;  
  gap: 20px;
 
}

.bookContainer img{
  width: 130px;
}
.wordContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.wordContainer p{
  text-align: center;
  
}

/* siingle book containers */

.singlebContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 2em;
}

.singlebContainer img{
  width: 18em;
}
.linebr{
  white-space: pre-wrap;
}

.synopsis{
  padding: 0 2em 0 2em;
}